.posts {
    width: 100%;
    height: calc(100vh - 11vh);
    background-image: url(/public/explore-the-world.jpeg);
    background-size: contain;
    background-position: center;
    overflow: auto;
  }
  
  @media (max-width: 768px) {
    .posts {
      background-size: 150% 100%;
    }
  }
  
  .carousel-custom {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Adjust width as needed */
    height: 50vh; /* Half of the viewport height */
}

.carousel-image {
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire carousel item */
}
