.posts {
    width: 100%;
    height: calc(100vh - 11vh);
    background-image: url(/public/explore-the-world.jpg);/*default background image*/
    background-size: contain;
    background-position: center;
    overflow: auto;
  }
  
  @media (max-width: 768px) {
    .posts {
      background-size: 150% 100%;
    }
  }
  
  