.about-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* .carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6; /* Optional: Adds a slight opacity for better text readability */
/* } */ */

.bio-text {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a background to the text */
    border-radius: 10px;
}
