body {
  font-size: 16px;
}

.carousel-custom {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* Adjust width as needed */
  height: 50vh; /* Half of the viewport height */
}

.carousel-image {
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire carousel item */
}
